*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
label{
  color:midnightblue;
  font-weight:500;
}
input{
  margin:0.5rem 0;
  color:midnightblue;
}
.main-heading{
  color:midnightblue;
}
body{
  background-color: aquamarine;
}
 .App {
   text-align: center;
 }
 .flex-container{
 margin:2rem 0;
 }
 .title{
  font-weight:500;
  color:midnightblue;
 }
 .email{
  color:darkcyan;
 }
 .info-container{
   margin-bottom:2rem;
 }
 button{
   background-color: midnightblue;
   color:mintcream;
   margin:0 1rem;
   padding:.2rem;
 }
 .flex-container button {
   margin-bottom:.5rem;
   padding:5px;
   border-radius: 8px;
 }

